@using MudBlazor.Utilities
@using SetExplorer.Client.Pages.Shared
@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode Theme="Theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <a href="/">
            <MudText Typo="Typo.h5" Class="ml-3">Application</MudText>
        </a>
        <MudSpacer/>
        <AuthorizeView>
            <Authorized Context="authContext">
                <a href="/Account/Manage">
                    <MudAvatar>
                        @authContext.User.Identity?.Name?[..2]
                    </MudAvatar>
                </a>
                <LogoutButton></LogoutButton>
            </Authorized>
            <NotAuthorized>
                <MudIconButton Icon="@Icons.Material.Filled.Login" Href="Account/Login"></MudIconButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudMainContent  Style="min-height: 100vh">
        <MudContainer Style="margin-top: 1rem">
                @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    private static readonly MudTheme Theme = new()
    {
        PaletteDark = new PaletteDark
        {
            Background = new MudColor("#181818"),
            LinesDefault = new MudColor(255, 255, 255, 0.33)
        }
    };
}

