@page "/"
@using SetExplorer.Scryfall
@using SetExplorer.Scryfall.Models
@inject ScryfallSearchClient SearchClient
@inject ILogger<Home> Logger

<PageTitle>Home</PageTitle>

<MudTextField T="string" ValueChanged="@NewSearchStringAsync"></MudTextField>

<MudCarousel ItemsSource="_cards" ShowArrows="true" ShowBullets="false" SelectedIndex="_selectedIndex" SelectedIndexChanged="@SelectedIndexChangedAsync" AutoCycle="false">
    <ItemTemplate>
        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
            <MudImage Height="500"  Src="@GetCardImageUrl(context)"></MudImage>
        </div>
    </ItemTemplate>
</MudCarousel>



@code
{
    private List<Card> _cards = [];
    private IAsyncEnumerator<Card>? _currentSearchIterator;
    private int _selectedIndex;

    private async Task NewSearchStringAsync(string? arg)
    {
        if (string.IsNullOrEmpty(arg))
        {
            return;
        }
        
        _currentSearchIterator = SearchClient.GetAllAsync(arg).GetAsyncEnumerator();
        _cards.Clear();
        await LoadNextCardsAsync(20);
    }

    /// <summary>
    /// This is the page size of scryfalls search endpoint.
    /// Thus this is how much we can simpyl load without additional IO calls
    /// </summary>
    private const int ScryfallSearchPageSize = 175;
    private async Task LoadNextCardsAsync(int entries = ScryfallSearchPageSize)
    {
        if (_currentSearchIterator is null)
        {
            return;
        }

        if (_currentlyLoadingNewCards)
        {
            return;
        }
        Logger.LogDebug("Loading next cards {amount} ...", entries);
        _currentlyLoadingNewCards = true;
        var itemsTaken = 0;
        while (itemsTaken < entries && await _currentSearchIterator.MoveNextAsync())
        {
            _cards.Add(_currentSearchIterator.Current);
            itemsTaken++;
        }
        _currentlyLoadingNewCards = false;
    }

    private bool _currentlyLoadingNewCards;
    private async Task SelectedIndexChangedAsync(int newIndex)
    {
        if (newIndex == _cards.Count - 1)
        {
            await LoadNextCardsAsync();
            return;
        }
        
        _selectedIndex = newIndex;
        
        Logger.LogDebug("SelectedIndexChanged: {index}", newIndex);
        if (_cards.Count - newIndex <= 5)
        {
            await LoadNextCardsAsync();
        }
    }

    private string? GetCardImageUrl(Card card)
    {
        if (card is not {ImageUris.Count:> 0})
        {
            return null;
        }

        if (card.ImageUris.TryGetValue("border_crop", out var normal))
        {
            return normal.ToString();
        }
        if (card.ImageUris.TryGetValue("normal", out var small))
        {
            return small.ToString();
        }

        return card.ImageUris.FirstOrDefault().Value?.ToString();
    }
}

